[
  {mnesia,
    [
      {dump_log_write_threshold, 50000}
      , {dc_dump_limit, 40}
    ]
  },
  {up_config,
    [


    ]
  },
  {lager,
    [
      {log_root, "/tmp/logs.collect/"},
      {handlers,
        [
          {lager_console_backend,
            [
              {level, debug},
              {formatter, lager_default_formatter},
              {formatter_config,
                [date, " ", time
                  , " [", severity, "]"
                  , {module, [
                  module,
                  {function, [":", function], ""},
                  {line, [":", line], ""}], ""},
                  {pid, ["@", pid], ""},
                  message
                  , "\n"
                ]
              }
            ]
          },
          {lager_file_backend, [{file, "error.log"}, {level, error}, {date, "$D23"}, {count, 60}]},
          {lager_file_backend, [{file, "console.log"}, {level, debug}, {date, "$D23"}, {count, 60}]}
        ]}
    ]}

].