[
  {mnesia,
    [
      {dump_log_write_threshold, 50000}
      , {dc_dump_limit, 40}
    ]
  },
  {pg_web,
    [
      {web_app_hostname, <<"http://pay.trust-one.com">>}
      , {http_bind_ip, {127, 0, 0, 1}}
    ]
  },
  {up_config,
    [
      {up_keys_dir, [home, priv_dir, up_keys_dir_sub]},
      {priv_dir, "/priv.shums"},
      {up_keys_dir_sub, "/keys"},
      {encrypt_cert_id, <<"69042905377">>},
      {up_mer_list,
        [
          {gw_collect, {wap, ['898319849000017']}}
          , {gw_collect1, {wap, ['777290058110097']}}
        ]
      },
      {up_mer_props,
        #{
          '898319849000017'=>#{channelType=><<"07">>, certId=><<"70955194265">>}
          , '777290058110097'=>#{channelType=><<"07">>, certId=><<"68759663125">>}
        }

      }
      , {pg_front_url, <<"http://local.trust-one.com/pg/pay_succ">>}
      , {pg_back_url, <<"http://local.trust-one.com/pg/pay_succ_info">>}
      , {test_mcht_front_url, <<"http://local.trust-one.com/pg/mcht_front_succ">>}
      , {test_mcht_back_url, <<"http://local.trust-one.com/pg/mcht_back_succ_info">>}


      , {up_pay_url, <<"https://gateway.95516.com/gateway/api/frontTransReq.do">>}
      , {up_query_url, <<"https://gateway.95516.com/gateway/api/queryTrans.do">>}
      , {up_reconcile_download_url, <<"https://filedownload.95516.com/">>}
      , {up_collect_url, <<"https://gateway.95516.com/gateway/api/backTransReq.do">>}

      , {up_front_url, <<"https://gateway.95516.com/gateway/api/frontTransReq.do">>}
      , {up_back_url, <<"https://gateway.95516.com/gateway/api/backTransReq.do">>}
      , {up_batch_url, <<"https://gateway.95516.com/gateway/api/batchTransReq.do">>}
      , {up_file_url, <<"https://filedownload.95516.com/">>}
      , {up_app_url, <<"https://gateway.95516.com/gateway/api/appTransReq.do">>}
      , {up_card_url, <<"https://gateway.95516.com/gateway/api/cardTransReq.do">>}

    ]
  },
  {lager,
    [
      {log_root, "/tmp/logs.collect/"},
      {handlers,
        [
          {lager_console_backend,
            [
              {level, debug},
              {formatter, lager_default_formatter},
              {formatter_config,
                [date, " ", time
                  , " [", severity, "]"
                  , {module, [
                  module,
                  {function, [":", function], ""},
                  {line, [":", line], ""}], ""},
                  {pid, ["@", pid], ""},
                  message
                  , "\n"
                ]
              }
            ]
          },
          {lager_file_backend, [{file, "error.log"}, {level, error}, {date, "$D23"}, {count, 60}]},
          {lager_file_backend, [{file, "console.log"}, {level, debug}, {date, "$D23"}, {count, 60}]}
        ]}
    ]}

].