{erl_opts, [
  debug_info
  , {parse_transform, lager_transform}
]}.
{rebar_packages_cdn, "https://hexpm.upyun.com"}.
{deps, [
  {parse_trans, "3.0.0"}
  , {lager, "3.5.2"}
  , {mixer, "1.0.0", {pkg, inaka_mixer}}
  , {erlydtl, "0.12.1"}
  , {cowboy, "1.1.2"}
  , {jwt, "0.1.3"}
  , {jsx, "2.8.2"}
  , {xfutils, {git, "https://github.com/simonxu72/erlang-xfutils", {branch, "master"}}}
  , {pg_mcht_protocol, {git, "https://github.com/simonxu72/pg_mcht_protocol", {branch, "master"}}}
  , {pg_mcht_enc, {git, "https://github.com/simonxu72/pg_mcht_enc", {branch, "master"}}}
  , {pg_test_utils, {git, "https://github.com/simonxu72/pg_test_utils", {branch, "master"}}}
  , {pg_txn, {git, "https://github.com/simonxu72/pg_txn", {branch, "master"}}}
  , {pg_store, {git, "https://github.com/simonxu72/pg_store", {branch, "master"}}}
]}.

{plugins, [
  {rebar3_erlydtl_plugin, ".*",
    {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{provider_hooks, [
  {pre, [{compile, {erlydtl, compile}}]}
]}.
{shell, [
  {apps, [pg_mcht_enc, pg_mcht_protocol, pg_up_protocol, up_config, pg_store, pg_txn, pg_web]}
  , {config, "sys.config"}]}.

{lager, [
  {log_root, "/tmp/logs/"},
  {handlers, [
    {lager_console_backend, debug},
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "console.log"}, {level, info}]}
  ]}
]}.
{relx,
  [
    {release,
      {pg_local, "0.0.1"},
      [pg_web],
      [{dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {vm_args, "config/vm.args"},
        {sys_config, "local_test.sys.config"}


      ]
    },
    {release,
      {pg_scancard_test, "0.0.1"},
      [pg_web],
      [{dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {vm_args, "config/vm.args"},
        {sys_config, "pg_scancard_test.sys.config"}


      ]
    },
    {release,
      {pg_scancard_prod, "0.0.1"},
      [pg_web],
      [{dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {vm_args, "config/vm_prod.args"},
        {sys_config, "pg_scancard_prod.sys.config"}


      ]
    },
    {release,
      {pg_trust_test, "0.0.1"},
      [pg_web],
      [{dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {vm_args, "config/vm.args"},
        {sys_config, "pg_trust_test.sys.config"}


      ]
    },
    {release,
      {pg_trust_prod, "0.0.1"},
      [pg_web],
      [{dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {vm_args, "config/vm_prod.args"},
        {sys_config, "pg_trust_prod.sys.config"}


      ]
    },
    {release,
      {pg_prod, "0.0.1"},
      [pg_web],
      [{dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {vm_args, "config/vm_prod.args"},
        {sys_config, "pg_prod.sys.config"}


      ]
    }
  ]
}.

